/.git/
.gitignore
Dockerfile

/coverage/
/pkg/
/spec/reports/
/test/tmp/
/tmp/

/.yardoc
/_yardoc/
/doc/
/rdoc/

/.bundle/
/vendor/bundle

/Gemfile.lock
/.ruby-version
*.gem

# Misc.
.DS_Store
/.idea/
